{% extends 'base.html' %}
{% block title %}задача{% endblock title %}
{%  block content %}

    <div class="jumbotron jumbotron-fluid" style="background-color: #f8f1f1">
        <div class="container">
        <div class="card">
  <div class="card-header">
    <h1 class="display-4">Задача '{{ issue.summary }}'</h1>
  </div>
  <div class="card-body">
    <p class="card-title">Статус: {{ issue.status }}</p>
    <p class="card-title">Тип: {{ issue.type }}</p>
      {% if not issue.description %}
        <p></p>
      {% else %}
        <p class="card-text">{{ issue.description }}</p>
      {% endif%}
    <p class="lead">Дата создания: {{ issue.created_at }}</p>
    <a href="{% url "issue-update" issue.id %}" class="btn btn-light" style="background-color: #da9ff9">Редактировать задачу</a>
    <a href="{% url "issue-delete" issue.id %}" class="btn btn-warning" >Удалить задачу</a>
  </div>
       </div>
       </div>
    </div>

{%  endblock content %}
