{%  extends 'base.html' %}

{% block content %}
    <div style="background-color: #f8f1f1">
    <div class="container" style="padding: 10%">
    <h2 style="color: darkblue">Вы уверены, что хотите удалить проект "{{ project.summary }}"?</h2>
    <form action="{% url "project-delete" project.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-warning btn-m" type="submit" value="да">
    </form>
    <h4><a href="{% url "project-view" project.id %}" style="color: #b088f9">Отмена</a></h4>
    </div>
    </div>

{% endblock content %}