{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron" style="background-color: #f8f1f1">
    <h1>{{ project.summary }}</h1>
        <p>{{ project.description }}</p>
        <p style="color: darkorchid">Старт: {{ project.started_at }}</p>

    {% if perms.webapp.change_project %}
    <a class="btn btn-success btn-lg" href="{% url "project-update" project.id %}">Редактировать проект</a>
    {% endif %}

    {% if perms.webapp.delete_project %}
    <a class="btn btn-dark btn-lg" href="{% url "project-delete" project.id %}">Удалить проект</a>
    {% endif %}

    {% if perms.webapp.add_issue and request.user in project.user.all %}
    <a class="btn btn-warning btn-lg" href="{% url "issue-create" project.id %}">добавить задачу</a>
    {% endif %}

    {% if not project.issue.all %}
        <h2 style="margin-top: 100px">Задач нет.</h2>
    {% else %}
        <h3 style="margin-top: 50px; color: darkorchid">Задачи проекта:</h3>
    {% for issue in project.issue.all %}
        <p> <a href="{% url "issue-view" issue.id %}" style="color: #b088f9">{{ issue.summary }}</a>. Статус: {{  issue.status }} </p>
    {% endfor %}
    {% endif %}
    {% if not project.user.all %}
        <h3 style="margin-top: 50px; color: darkgray">Пользователей нет</h3>
    {% else %}
        <h3 style="margin-top: 50px; color: darkorchid">Пользователи:</h3>
        {% for user in project.user.all %}
            <p style="color: #b088f9">{{ user.username }}</p>
        {% endfor %}
    {% endif %}
    {% if perms.webapp.can_update_project_user and request.user in project.user.all %}
        <a class="btn btn-dark btn-lg" href="{% url "user-add" project.id %}">Изменить список</a>
    {% endif %}
    </div>
{% endblock content %}